.card{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.card_verde_menta{
    background-color: #e0fcc2;
}
.card_rosa_pastel{
    background-color: #b9c8de;
}
.card_pessego{
    background-color: #d9ae80;
}
.card_vermelho{
    background-color: #c54119;
}
.card_azul{
    background-color: #bce5c8;
}
.card_roxo{
    background-color: #e5bcd5;
}


